  @font-face {
    font-family: "DaysOne";
    src: url("./fonts/DaysOne-Regular.woff2");
    font-weight: 400;
  }

  @font-face {
    font-family: "Rubik-Regular";
    src: url("./fonts/Rubik-Regular.woff2");
    font-weight: 400;
  }